<div class="h-full w-full pl-5 pt-5 relative">

    <back-button class="absolute t-2 l-2 z-[1000]"></back-button>
    @if(isLoading)
    {
        <loading-spinner></loading-spinner>
    }
    @else if(images.length == 0){
        <div class="w-full h-full flex items-center justify-center bg-background">
            <p>There is no images yet</p>
        </div>
    }
    @else{
        
        @if (mediaInfo[currentIndex]; as current) {

            <div class="w-full h-full flex flex-col items-center justify-center bg-background gap-4 relative">

               
                <div (click)="openParticipantDetails(current.uploaderId, current.uploaderName)" 
                     class="rounded-full ring-2 ring-white cursor-pointer hover:z-10 transition-transform hover:scale-105">
                    <user-avatar
                        [userId]="current.uploaderId"
                        [username]="current.uploaderName"
                        [profilePictureUrl]="current.uploaderAvatarId">
                    </user-avatar>
                </div>
                <div class="w-[80%] h-[70vh] relative">
                    <gallery 
                        [items]="images" 
                        bullets 
                        class="w-full h-full block bg-primary"
                        (indexChange)="onIndexChange($event)">

                    </gallery>
                    <div class="absolute bottom-5 right-5  bg-black z-[1000] p-5 text-sm">
                        {{ current.description || 'No description' }}
                    </div>
                
                </div>
               
            </div>
            
        }
    }

</div>


