<div class="flex flex-col gap-4 p-5">
    <h2 class="text-xl font-semibold mb-2 mt-2">Filter meetings</h2>
    
    <form [formGroup]="filterForm" class="flex flex-col gap-2">

        <!-- Sorting -->
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Sort by date</mat-label>
            <mat-select formControlName="sortOrder">
                <mat-option value="asc">From newest</mat-option>
                <mat-option value="desc">From oldest</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Status -->
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Meeting status</mat-label>
            <mat-select formControlName="status">
                <mat-option [value]="null">All</mat-option>
                <mat-option [value]="0">Planned</mat-option>
                <mat-option [value]="1">Accepted</mat-option>
                <mat-option [value]="2">Completed</mat-option>
            </mat-select>
        </mat-form-field>


        <!-- Date range -->
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Choose date range</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
                <input matStartDate formControlName="startDate" placeholder="Start">
                <input matEndDate formControlName="endDate" placeholder="End">
            </mat-date-range-input>
           
            <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
      
            <!-- Date panel buttons -->
            <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                <button matButton matDateRangePickerCancel class="m-2">Cancel</button>
                <button matButton="elevated" matDateRangePickerApply>Apply</button>
                </mat-date-range-picker-actions>
            </mat-date-range-picker>
        </mat-form-field>
    </form>
</div>
