.light {
  --mat-sys-primary: rgb(141 74 91);
  --mat-sys-surface-tint: rgb(141 74 91);
  --mat-sys-on-primary: rgb(255 255 255);
  --mat-sys-primary-container: rgb(255 217 224);
  --mat-sys-on-primary-container: rgb(113 51 68);
  --mat-sys-secondary: rgb(144 75 62);
  --mat-sys-on-secondary: rgb(255 255 255);
  --mat-sys-secondary-container: rgb(255 218 212);
  --mat-sys-on-secondary-container: rgb(115 52 41);
  --mat-sys-tertiary: rgb(142 73 86);
  --mat-sys-on-tertiary: rgb(255 255 255);
  --mat-sys-tertiary-container: rgb(255 217 222);
  --mat-sys-on-tertiary-container: rgb(114 51 63);
  --mat-sys-error: rgb(186 26 26);
  --mat-sys-on-error: rgb(255 255 255);
  --mat-sys-error-container: rgb(255 218 214);
  --mat-sys-on-error-container: rgb(147 0 10);
  --mat-sys-background: rgb(255 248 247);
  --mat-sys-on-background: rgb(34 25 27);
  --mat-sys-surface: rgb(255 248 247);
  --mat-sys-on-surface: rgb(34 25 26);
  --mat-sys-surface-variant: rgb(219 228 230);
  --mat-sys-on-surface-variant: rgb(63 72 74);
  --mat-sys-outline: rgb(111 121 122);
  --mat-sys-outline-variant: rgb(191 200 202);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(56 46 47);
  --mat-sys-inverse-on-surface: rgb(254 237 238);
  --mat-sys-inverse-primary: rgb(255 177 195);
  --mat-sys-primary-fixed: rgb(255 217 224);
  --mat-sys-on-primary-fixed: rgb(58 7 25);
  --mat-sys-primary-fixed-dim: rgb(255 177 195);
  --mat-sys-on-primary-fixed-variant: rgb(113 51 68);
  --mat-sys-secondary-fixed: rgb(255 218 212);
  --mat-sys-on-secondary-fixed: rgb(58 10 4);
  --mat-sys-secondary-fixed-dim: rgb(255 180 166);
  --mat-sys-on-secondary-fixed-variant: rgb(115 52 41);
  --mat-sys-tertiary-fixed: rgb(255 217 222);
  --mat-sys-on-tertiary-fixed: rgb(59 7 22);
  --mat-sys-tertiary-fixed-dim: rgb(255 178 190);
  --mat-sys-on-tertiary-fixed-variant: rgb(114 51 63);
  --mat-sys-surface-dim: rgb(231 214 215);
  --mat-sys-surface-bright: rgb(255 248 247);
  --mat-sys-surface-container-lowest: rgb(255 255 255);
  --mat-sys-surface-container-low: rgb(255 240 241);
  --mat-sys-surface-container: rgb(251 234 235);
  --mat-sys-surface-container-high: rgb(245 228 229);
  --mat-sys-surface-container-highest: rgb(240 222 224);
}
