<div class="flex flex-col">
                        
    <div class="flex items-center gap-3 w-full p-3">


        @if (comment.parentCommentId) 
        {
            <div class="flex items-center justify-center shrink-0 select-none pl-1">
               <mat-icon fontIcon="subdirectory_arrow_right"></mat-icon>
            </div>
        }

        <div class=" bg-on-primary flex-1 flex items-center justify-between gap-4 px-5 py-3.5 rounded-lg">
            <div (click)="openParticipantDetails(comment.userId, comment.username)" 
            class="relative rounded-full ring-2 ring-white cursor-pointer hover:z-10 transition-transform hover:scale-105 shrink-0 self-start">
                <user-avatar 
                    [userId]="comment.userId" 
                    [username]="comment.username"
                    [profilePictureUrl]="comment.profilePictureUrl"
                    >
                </user-avatar>
            </div>
                                 
            <div class=" bg-on-primary flex-1 min-w-0 flex flex-col justify-center ">
                <div class="flex items-start gap-2 flex-col">
                    <span class="font-bold text-sm">{{ comment.username }}</span>
                    <p class="text-sm break-words">{{ comment.content }}</p>
                </div>
            </div>

            <div class=" bg-on-primary shrink-0 flex flex-col items-end justify-end pl-2">
                <span class="text-xs text-right">{{ comment.createdAt | date:'short' }}</span>  
                <reply-button class="mt-auto text-right mt-3" (click)="toggleReply()">
                    {{isReplying? 'Cancel': 'Reply'}}
                </reply-button>
            </div>
        </div>
        

        
            
       
    </div>

    @if (isReplying) 
    {
        <div class="w-full pl-12 pr-2 py-2">
            <comment-form 
                [meetingId]="meetingId" 
                [parentCommentId]="comment.id"
                (commentAdded)="onReplySuccess()">
            </comment-form>
        </div>
    }

    <!-- Comment replies section -->
    @if(comment.replies && comment.replies.length > 0)
    {
       <div class="flex flex-col gap-2 w-full pl-6 sm:pl-8">
            @for (reply of comment.replies; track reply.id) 
            {
                <comment-tree 
                    [comment]="reply"
                    [meetingId]="meetingId"
                    (replyAdded)="replyAdded.emit()">
                </comment-tree>
            }
        </div>
    }
</div>