<div class="flex h-screen flex-col bg-background font-sans">

    <navbar>
        <back-button></back-button>
        <navbar-btn-group></navbar-btn-group>
        <user-menu></user-menu>
    </navbar>

    
    @if (isLoading) 
    {
        <div class="text-center py-20 text-gray-500 text-lg">
            Loading meeting...
        </div>
    }

    @else if(meetingDetails)
    {
        <div class=" pt-[30vh] md:py-[20vh] flex flex-col md:flex-row w-[95%] md:w-[80%] max-w-6xl mx-auto 
        min-h-[50vh] items-center md:items-start justify-center gap-10 md:gap-[5rem]" >

            <div class="w-full md:w-[400px] order-2 md:order-1">
                <meeting-map 
                    [lng]="meetingDetails.longitude" 
                    [lat]="meetingDetails.latitude">
                </meeting-map>
            </div>

            <div class="w-full md:flex-1 flex flex-col justify-start items-start order-1 md:order-2"> 
                <meeting-header>{{meetingDetails?.title}}</meeting-header>

                <p class="text-xl text-on-primary-container mt-4 flex items-center gap-2 ">
                    <mat-icon aria-hidden="false" aria-label="Date" fontIcon="date_range" class="!w-[30px] !h-[30px] !text-[30px] !leading-[30px]"></mat-icon>
                    {{meetingDetails?.scheduledFor | date:'dd.MM.yyyy HH:mm' }}
                </p>

                <div class="mt-4">
                    <meeting-subtitle>Organizer: {{ meetingDetails?.organizer?.username }}</meeting-subtitle>
                </div>

                <div class="mt-4 mb-4">
                    <meeting-subtitle>Participants</meeting-subtitle>
                    <div class="flex flex-row flex-wrap items-center justify-start -space-x-3 mt-2">

                        @for (user of meetingParticipants; track user.id) 
                        {
                            <div (click)="openParticipantDetails(user)" class="relative rounded-full ring-2 ring-white cursor-pointer hover:z-10 transition-transform hover:scale-105">
                                <user-avatar
                                    [userId]="user.id"
                                    [username]="user.username">
                                </user-avatar>
                            </div>
                        
                        } 

                        @empty 
                        {
                            <meeting-text>No participants yet.</meeting-text>
                        }

                    </div>
                </div>

                <div class="mb-4">
                    <meeting-subtitle>Description</meeting-subtitle>
                    <meeting-text>
                        {{ meetingDetails?.description || 'No description.' }}
                    </meeting-text>
                </div>

                <div>
                    <button mat-fab extended>
                        JOIN
                    </button>
                </div>
            </div>

        </div>


    }

    @else {
        <div class="text-center py-20 text-red-500 text-lg">
            Could not load meeting
        </div>
    }

   
</div>


