<div class="relative flex min-h-screen w-full flex-col items-center justify-center bg-background font-sans overflow-hidden">

    <div class="absolute inset-0 z-0 grid grid-cols-2 grid-rows-2">
        <div class="bg-primary-container"></div>
        <div class="bg-transparent"></div>
        <div class="bg-transparent"></div>
        <div class="bg-primary-container"></div>
    </div>



  <!--Place for form content-->

  <div class="z-10 flex w-[90%] max-w-[480px] flex-col items-center bg-primary p-10 md:p-14 shadow-2xl">
    <ng-content></ng-content>
  </div>
</div>
